#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# https://raphaelhertzog.com/2010/09/27/different-dependencies-between-debian-and-ubuntu-but-common-source-package/
RELEASE ?= $(shell lsb_release -c | cut -d: -f2 | sed -e's:\s::g')
RELEASE_DEPS_precise = -Vrelease:Depends="libnetcdf6"
RELEASE_DEPS_trusty = -Vrelease:Depends="libnetcdfc7"

%:
	dh $@ 

override_dh_gencontrol:
	dh_gencontrol -- $(RELEASE_DEPS_$(DIST))
